* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  background: #3b2828;
  color: white;
  position: fixed;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff9f43;
  text-decoration: underline;
}

footer {
    text-align: center;
    color: #3b2828;
}

#home {
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1467269204594-9661b134dd2b");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.btn-banner {
  display: inline-block;
  padding: 10px 30px;
  background: #ff9f43;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition:
    transform 0.3s,
    background 0.3s;
}

.btn-banner:hover {
  background: #e67e22;
  transform: scale(1.1);
}

.conteudo {
  padding: 80px 10% 40px;
  min-height: 600px;
}

.back-to-top {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.back-to-top:hover {
  color: #ff9f43;
}
